{
    "auth_service": "ptc",
    "username": "YOUR_USERNAME",
    "password": "YOUR_PASSWORD",
    "location": "37.805724, -122.416611",
    "gmapkey": "GOOGLE_MAPS_API_KEY",
    "encrypt_location": "",
    "websocket_server": false,
    "heartbeat_threshold": 10,
    "tasks": [
      {
        "type": "HandleSoftBan"
      },
      {
        "type": "SleepSchedule",
        "config": {
          "enabled": false,
          "time": "22:54",
          "duration":"7:46",
          "time_random_offset": "00:24",
          "duration_random_offset": "00:43"
        }
      },
	  {
		"type": "RandomPause",
        "config": {
		  "enabled": false,
		  "min_duration": "00:00:10",
		  "max_duration": "00:10:00",
		  "min_interval": "00:10:00",
		  "max_interval": "02:00:00"
        }
	  },
      {
        "type": "CompleteTutorial",
        "config": {
          "enabled": false,
          "// set a name": "",
          "nickname": ""
        }
      },
      {
         "type": "CollectLevelUpReward"
      },
      {
        "type": "IncubateEggs",
        "config": {
          "longer_eggs_first": true
        }
      },
      {
        "type": "UpdateLiveStats",
        "config": {
          "enabled": true,
          "min_interval": 10,
          "stats": ["username", "level_stats", "uptime", "stardust_earned", "xp_earned", "xp_per_hour", "stops_visited"],
          "terminal_log": true,
          "terminal_title": true
        }
      },
      {
        "type": "UpdateLiveInventory",
        "config": {
          "enabled": true,
          "min_interval": 120,
          "show_all_multiple_lines": false,
          "items": ["space_info", "pokeballs", "greatballs", "ultraballs", "razzberries", "luckyegg"]
        }
      },
      {
        "type": "NicknamePokemon",
        "config": {
          "enabled": false,
          "nickname_template": "{iv_pct}_{iv_ads}"
        }
      },
      {
        "type": "EvolvePokemon",
        "config": {
          "evolve_all": "all",
          "first_evolve_by": "iv",
          "evolve_above_cp": 10,
          "evolve_above_iv": 0.93,
          "logic": "and",
          "evolve_speed": 20,
          "use_lucky_egg": false
        }
      },
      {
        "type": "TransferPokemon",
        "config": {
          "transfer_wait_min": 1,
          "transfer_wait_max": 4
        }
      },
      {
        "type": "RecycleItems",
        "config": {
          "min_empty_space": 15,
          "max_balls_keep": 150,
          "max_potions_keep": 50,
          "max_berries_keep": 70,
          "max_revives_keep": 70,
          "item_filter": {
            "Pokeball":       { "keep" : 30 },
            "Greatball":      { "keep" : 30 },
            "Ultraball":      { "keep" : 100 },
            "Potion":         { "keep" : 0 },
            "Super Potion":   { "keep" : 0 },
            "Hyper Potion":   { "keep" : 20 },
            "Max Potion":     { "keep" : 30 },
            "Revive":         { "keep" : 20 },
            "Razz Berry":     { "keep" : 80 }
          },
          "recycle_wait_min": 1,
          "recycle_wait_max": 4
        }
      },
      {
        "type": "CatchPokemon",
        "config": {
          "catch_visible_pokemon": true,
          "catch_lured_pokemon": true,
          "min_ultraball_to_keep": 5,
          "catch_throw_parameters": {
            "excellent_rate": 0.1,
            "great_rate": 0.5,
            "nice_rate": 0.3,
            "normal_rate": 0.1,
            "spin_success_rate" : 0.6,
            "hit_rate": 0.85
          },
          "catch_simulation": {
            "flee_count": 3,
            "flee_duration": 2,
            "catch_wait_min": 2,
            "catch_wait_max": 6,
            "berry_wait_min": 2,
            "berry_wait_max": 3,
            "changeball_wait_min": 2,
            "changeball_wait_max": 3
          }
        }
      },
      {
        "type": "SpinFort",
        "config": {
          "spin_wait_min": 2,
          "spin_wait_max": 3
        }
      },
      {
        "type": "MoveToFort",
        "config": {
          "lure_attraction": true,
          "lure_max_distance": 2000,
          "bot_zone": true,
          "zone_radius": 1200
        }
      },
      {
        "type": "FollowSpiral",
        "config": {
          "enabled": false,
          "diameter": 4,
          "step_size": 70
        }
      }
    ],
    "map_object_cache_time": 5,
    "forts": {
      "avoid_circles": true,
      "max_circle_size": 30,
      "cache_recent_forts": true
    },
    "pokemon_bag": {
      "// if 'show_at_start' is true, it will log all the pokemons in the bag (not eggs) at bot start": {},
      "show_at_start": true,
      "// if 'show_count' is true, it will show the amount of each pokemon (minimum 1)": {},
      "show_count": false,
      "// 'pokemon_info' parameter define which info to show for each pokemon": {},
      "// the available options are": {},
      "// ['cp', 'iv_ads', 'iv_pct', 'ivcp', 'ncp', 'level', 'hp', 'moveset', 'dps']": {},
      "pokemon_info": ["cp", "iv_pct"]
    },
    "walk_max": 4.16,
    "walk_min": 2.16,
    "debug": false,
    "test": false,
    "health_record": true,
    "location_cache": true,
    "distance_unit": "m",
    "reconnecting_timeout": 15,
    "logging_color": true,
    "daily_catch_limit": 1000,
    "catch": {
      "any": {"catch_above_cp": 0, "catch_above_iv": 0, "logic": "or"},
      "// Example of always catching Rattata:": {},
      "Rattata": {"catch_above_cp": 10, "catch_above_iv": 0.93, "logic": "and"},
      "Zubat": {"catch_above_cp": 10, "catch_above_iv": 0.93, "logic": "and"},
      "Pidgey": {"catch_above_cp": 10, "catch_above_iv": 0.93, "logic": "and"},
      "Weedle": {"catch_above_cp": 10, "catch_above_iv": 0.93, "logic": "and"},
      "Spearow": {"catch_above_cp": 10, "catch_above_iv": 0.93, "logic": "and"},
      "Ekans": {"catch_above_cp": 10, "catch_above_iv": 0.93, "logic": "and"},
      "Paras": {"catch_above_cp": 10, "catch_above_iv": 0.93, "logic": "and"},
      "Psyduck": {"catch_above_cp": 10, "catch_above_iv": 0.93, "logic": "and"},
      "Tentacool": {"catch_above_cp": 10, "catch_above_iv": 0.93, "logic": "and"},
      "Venonat": {"catch_above_cp": 10, "catch_above_iv": 0.93, "logic": "and"},
      "Paras": {"catch_above_cp": 10, "catch_above_iv": 0.93, "logic": "and"}
    },
    "release": {
      "// Example of always releasing Rattata:": {},
      "// Rattata": {"always_release": true},
      "// Example of keeping 3 stronger (based on CP) Pidgey:": {},
      "// Pidgey": {"keep_best_cp": 3},
      "// Example of keeping 2 best (based on IV) Zubat:": {},
      "// Zubat": {"keep_best_iv": 2},
      "// Also, it is working with any": {},
      "// Legendary pokemons (Goes under S-Tier)": {},
      "Lapras": { "always_release": false },
      "Moltres": { "always_release": false },
      "Zapdos": { "always_release": false },
      "Articuno": { "always_release": false },
      "// S-Tier pokemons (if pokemon can be evolved into tier, list the representative)": {},
      "Mewtwo": { "always_release": false },
      "Dragonite": { "always_release": false },
      "Snorlax": { "always_release": false },
      "// Mew evolves to Mewtwo": {},
      "Mew": { "always_release": false },
      "Arcanine": {"keep_best_cp": 1, "keep_best_iv": 3 },
      "Vaporeon": {"keep_best_cp": 3,  "keep_best_iv": 6 },
      "Gyarados": {"keep_best_cp": 3,  "keep_best_iv": 6 },
      "Exeggutor": {"keep_best_cp": 1,  "keep_best_iv": 3 },
      "Muk": {"keep_best_cp": 1, "keep_best_iv": 3 },
      "Weezing": {"keep_best_cp": 1, "keep_best_iv": 3 },
      "Flareon": {"keep_best_cp": 3,  "keep_best_iv": 6 },
      "// Growlithe evolves to Arcanine": {},
      "Growlithe": { "keep_best_iv": 3 },
      "// Dragonair evolves to Dragonite": {},
      "Dragonair": { "keep_best_iv": 3 },
      "// Dratini evolves to Dragonair": {},
      "Dratini": { "keep_best_iv": 3 },
      "// Grimer evolves to Muk": {},
      "Grimer": { "keep_best_iv": 3 },
      "// Magikarp evolves to Gyarados": {},
      "Magikarp": { "keep_best_iv": 6 },
      "// Exeggcute evolves to Exeggutor": {},
      "Exeggcute": { "keep_best_iv": 3 },
      "// Eevee evolves to many versions, like Vaporeon, Flareon": {},
      "Eevee": { "keep_best_iv": 6 },
      "// A-Tier pokemons": {},
      "Slowbro": { "keep_best_iv": 2 },
      "Victreebel": { "keep_best_iv": 2 },
      "Machamp": { "keep_best_iv": 2 },
      "Poliwrath": { "keep_best_iv": 2 },
      "Clefable": { "keep_best_iv": 2 },
      "Nidoking": {"keep_best_cp": 1,  "keep_best_iv": 2 },
      "Venusaur": { "keep_best_iv": 2 },
      "Charizard": { "keep_best_iv": 2 },
      "Golduck": { "keep_best_iv": 2 },
      "Nidoqueen": { "keep_best_iv": 2 },
      "Vileplume": { "keep_best_iv": 2 },
      "Blastoise": { "keep_best_iv": 2 },
      "Omastar":  { "keep_best_iv": 2 },
      "Aerodactyl": { "keep_best_iv": 3 },
      "Golem": { "keep_best_iv": 2 },
      "Wigglytuff": { "keep_best_iv": 2 },
      "Dewgong": { "keep_best_iv": 2 },
      "Ninetales": { "keep_best_iv": 2 },
      "Magmar": { "keep_best_iv": 2 },
      "Kabutops": { "keep_best_iv": 2 },
      "Electabuzz": { "keep_best_iv": 2 },
      "Starmie": { "keep_best_iv": 2 },
      "Jolteon": {"keep_best_cp": 3,  "keep_best_iv": 5 },
      "Rapidash": { "keep_best_iv": 2 },
      "Pinsir": { "keep_best_iv": 2 },
      "Scyther": { "keep_best_iv": 2 },
      "Tentacruel": { "keep_best_iv": 2 },
      "Gengar": { "keep_best_iv": 2 },
      "Hypno": { "keep_best_iv": 2 },
      "Pidgeot": { "keep_best_iv": 2 },
      "Rhydon": { "keep_best_iv": 2 },
      "Seaking": { "keep_best_iv": 1 },
      "Kangaskhan": { "keep_best_iv": 2 },
      "// Koffing evolves to Weezing (A-Tier)": {},
      "Koffing": { "keep_best_iv": 2 },
      "// Below is B-tier and lower pokemons": {},
	  "// B-1": {},
      "Caterpie": { "keep_best_iv": 2 },
      "Weedle": { "keep_best_iv": 2 },
      "Diglett": { "keep_best_iv": 2 },
      "Rattata": { "keep_best_iv": 2 },
      "Abra": { "keep_best_iv": 2 },
      "Zubat": { "keep_best_iv": 2 },
      "Chansey": { "keep_best_iv": 2 },
      "Pidgey": { "keep_best_iv": 2 },
      "Spearow": { "keep_best_iv": 2 },
      "Meowth": { "keep_best_iv": 2 },
      "Krabby": { "keep_best_iv": 2 },
      "Sandshrew": { "keep_best_iv": 2 },
      "Poliwag": { "keep_best_iv": 2 },
      "Horsea": { "keep_best_iv": 2 },
      "Gastly": { "keep_best_iv": 2 },
      "Ekans": { "keep_best_iv": 2 },
      "Shellder": { "keep_best_iv": 2 },
      "Vulpix": { "keep_best_iv": 2 },
      "Voltorb": { "keep_best_iv": 2 },
      "Geodude": { "keep_best_iv": 2 },
      "Doduo": { "keep_best_iv": 2 },
      "Onix": { "keep_best_iv": 2 },
      "Mankey": { "keep_best_iv": 2 },
      "Pikachu": { "keep_best_iv": 5 },
      "Magnemite": { "keep_best_iv": 2 },
      "Tentacool": { "keep_best_iv": 2 },
      "Paras": { "keep_best_iv": 2 },
      "Jigglypuff": { "keep_best_iv": 2 },
      "Ditto": { "keep_best_iv": 2 },
      "Staryu": { "keep_best_iv": 2 },
      "Charmander": { "keep_best_iv": 5 },
      "Goldeen": { "keep_best_iv": 2 },
      "Squirtle": { "keep_best_iv": 2 },
      "Cubone": { "keep_best_iv": 2 },
      "Venonat": { "keep_best_iv": 2 },
      "Bulbasaur": { "keep_best_iv": 2 },
      "Drowzee": { "keep_best_iv": 2 },
      "Machop": { "keep_best_iv": 2 },
      "Psyduck": { "keep_best_iv": 2 },
      "Seel": { "keep_best_iv": 2 },
      "Kabuto": { "keep_best_iv": 2 },
      "Bellsprout": { "keep_best_iv": 2 },
      "Omanyte": { "keep_best_iv": 2 },
      "Oddish": { "keep_best_iv": 2 },
      "Rhyhorn": { "keep_best_iv": 2 },
      "Clefairy": { "keep_best_iv": 2 },
      "Slowpoke": { "keep_best_iv": 2 },
      "Farfetch'd": { "keep_best_iv": 2 },
      "Nidoran M": { "keep_best_iv": 2 },
      "Nidoran F": { "keep_best_iv": 1 },
      "Hitmonlee": { "keep_best_iv": 2 },
      "Ponyta": { "keep_best_iv": 2 },
      "Hitmonchan": { "keep_best_iv": 2 },
      "Lickitung": { "keep_best_iv": 2 },
      "Porygon": { "keep_best_iv": 2 },
      "Jynx": { "keep_best_iv": 2 },
      "Tangela": { "keep_best_iv": 2 },
      "Tauros": { "keep_best_iv": 2 },
	  "// B-2---------------------------": {},
      "Metapod": { "keep_best_iv": 2 },
      "Kakuna": { "keep_best_iv": 2 },
      "Kadabra": { "keep_best_iv": 2 },
      "Dugtrio": { "keep_best_iv": 2 },
      "Pidgeotto": { "keep_best_iv": 2 },
      "Poliwhirl": { "keep_best_iv": 2 },
      "Nidorino": { "keep_best_iv": 2 },
      "Haunter": { "keep_best_iv": 2 },
      "Nidorina": { "keep_best_iv": 2 },
      "Graveler": { "keep_best_iv": 1 },
      "Raticate": { "keep_best_iv": 1 },
      "Charmeleon": { "keep_best_iv": 2 },
      "Wartortle": { "keep_best_iv": 2 },
      "Persian": { "keep_best_iv": 1 },
      "Ivysaur": { "keep_best_iv": 2 },
      "Electrode": { "keep_best_iv": 1 },
      "Marowak": { "keep_best_iv": 1 },
      "Gloom": { "keep_best_iv": 2 },
      "Seadra": { "keep_best_iv": 2 },
      "Weepinbell": { "keep_best_iv": 1 },
      "Fearow": { "keep_best_iv": 1 },
      "Parasect": { "keep_best_iv": 1 },
      "Machoke": { "keep_best_iv": 2 },
      "Arbok": { "keep_best_iv": 2 },
      "Sandslash": { "keep_best_iv": 1 },
      "Kingler": { "keep_best_iv": 1 },
      "Dodrio": { "keep_best_iv": 1 },
      "Primeape": { "keep_best_iv": 1 },
      "Magneton": { "keep_best_iv": 1 },
      "Venomoth": { "keep_best_iv": 1 },
      "Golbat": { "keep_best_iv": 1 },
      "Raichu": { "keep_best_iv": 2 },
      "Cloyster": { "keep_best_iv": 1 },
      "Mr. Mime": { "keep_best_iv": 2 },
	  "// B-3---------------------------": {},
      "Beedrill": { "keep_best_iv": 1 },
      "Butterfree": { "keep_best_iv": 1 },
      "Alakazam": { "keep_best_iv": 2 },
      "any": {"keep_best_iv": 2},
      "// Example of keeping the 2 strongest (based on CP) and 3 best (based on IV) Zubat:": {}
    },
    "vips" : {
        "Any pokemon put here directly force to use Berry & Best Ball to capture, to secure the capture rate!": {},
        "any": {"catch_above_cp": 1200, "catch_above_iv": 0.9, "logic": "or" },
        "Lapras": {},
        "Moltres": {},
        "Zapdos": {},
        "Articuno": {},

        "// S-Tier pokemons (if pokemon can be evolved into tier, list the representative)": {},
        "Mewtwo": {},
        "Dragonite": {},
        "Snorlax": {},
        "// Mew evolves to Mewtwo": {},
        "Mew": {},
        "Arcanine": {},
        "Vaporeon": {},
        "Gyarados": {},
        "Exeggutor": {},
        "Muk": {},
        "Weezing": {},
        "Flareon": {}
    }
}
